/* tags */

h1{
  font-size: 50px;
  background-color: #1E2952;
  color: #B9D9EB;
  text-align: center;
} 

h2{
  font-size: 40px;
  background-color: #1E2952;
  color: #B9D9EB;
  text-align: center;
}

h3{
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

h4{
  font-size: 18px;
  text-align: center;
}

p{
  font-size: 18px;
  color:  #B9D9EB;
}


/* classes */

.button{
  background-color: #1E2952;
  color:  #B9D9EB;
  border-color: #B9D9EB;
  font-weight: bold;
}

.column_selection{
  background-color: #1E2952;
  color: #B9D9EB;
}

.explanation{
  background-color: #1E2952;
  color: #B9D9EB;
  font-size: 18px;
  padding: 20px;
}

.minitext{
  color: #B9D9EB;
  font-size: 18px;
  text-align: center;
}

.muw{
  color: #ffffff;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.selector_pad{
  color: #1E2952;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.table{
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.title{
  background-color: #1E2952;
  color: #B9D9EB;
  text-align: center;
}